# Service specifics (Port is mandatory!)
APP_SERVICE__HOST="0.0.0.0"
APP_SERVICE__PORT=8086
APP_SERVICE__GRPC_PORT=50056
APP_SERVICE__VERSION="1.0.0"
APP_SERVICE__ENVIRONMENT="development"

# If guild-service uses a different database name, it overrides the root .env here:
APP_DATABASE__DATABASE="hermes"
