# Service specifics (Port is mandatory!)
APP_SERVICE__HOST="0.0.0.0"
APP_SERVICE__PORT=8084
APP_SERVICE__GRPC_PORT=50054
APP_SERVICE__VERSION="1.0.0"
APP_SERVICE__ENVIRONMENT="development"

# If messaging-service uses a different database name, it overrides the root .env here:
APP_DATABASE__DATABASE="hermes_messaging"
