# Service specifics (Port is mandatory!)
APP_SERVICE__HOST="0.0.0.0"
APP_SERVICE__PORT=8081
APP_SERVICE__VERSION="1.0.0"
APP_SERVICE__ENVIRONMENT="development"

# Secrets specific to Auth Service
APP_SECRETS__JWT__ACCESS_SECRET="your_very_secure_access_secret_32_chars_long"
APP_SECRETS__JWT__REFRESH_SECRET="your_very_secure_refresh_secret_32_chars_long"
APP_SECRETS__JWT__EXPIRATION_HOURS=24

APP_SECRETS__PASSWORD__PEPPER="super_secret_pepper_min_16_chars"
APP_SECRETS__PASSWORD__BCRYPT_COST=12
APP_SECRETS__PASSWORD__MIN_LENGTH=8

# If auth-service uses a different database name, it overrides the root .env here:
APP_DATABASE__DATABASE="hermes"